<h2 class="text-center decoration:underline">Job List</h2>

<div class="dropdown clearfix pull-right" style="width:130px; padding-top:20px;">
    <button class="btn btn-befault dropdown-toggle background-color:#4CAF50;" type="button" id="dropdownMenuDriver" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <strong>Sort</strong>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDrivier">
        <li><%= link_to("Upper salary",jobs_path(:order =>"by_lower_bound"))%></li>
        <li><%= link_to("Lower salary",jobs_path(:order =>"by_upper_bound"))%></li>
        <li><%= link_to("Publish time",jobs_path)%></li>
    </li>
</ul>
</div>
<br>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    box-shadow: 10px 10px 5px grey;
}

td, th {
    border: none;
    text-align: left;
    padding: 15px;

}
th {background-color: #FFCA28}

tr:nth-child(even) {
    background-color: #FFF8E1;
}
</style>
<table align="center">
<br>
<br>
<thead style="font-size:115%">
    <tr>
        <th>Job</th>
        <th>Company</th>
        <th>Location</th>
        <th>Salary range</th>
        <th>Date posted</th>
    </thead>
    <tbody>
        <% @jobs.each do |job|%>
        <tr>
            <td><%= link_to(job.title,job_path(job))%> <i class="fa fa-chevron-right" aria-hidden="true" style="color:black;"></i> </td>
            <td><i class="fa fa-building" aria-hidden="true"></i> <%= job.company_name %></td>
            <td><i class="fa fa-map-marker" aria-hidden="true"> <%= job.location %></i></td>
            <td><i class="fa fa-jpy" aria-hidden="true"> <span style= "color:#616161"><%= job.wage_lower_bound %>-<%= job.wage_upper_bound %></span></td>
            <td><i class="fa fa-clock-o" aria-hidden="true"> <%= local_time(job.created_at, '%B %e, %Y %l:%M%p')%></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="text-center">
    <%= will_paginate @jobs,renderer: BootstrapPagination::Rails  %>
</div>
</div>
